body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
}

form {
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

label, input {
    display: block;
    margin-bottom: 1em;
}

button {
    display: block;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
